/* contest.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    animation: gradientAnimation 10s ease infinite;
    color: #fff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background: #3572EF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f1c40f;
}

.container {
    padding-top: 70px;
    margin: 2rem;
    text-align: center;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #f1c40f;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tablink {
    background: #f1c40f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 0.5rem;
}

.tablink:hover {
    background: #e1b000;
}

.tabcontent {
    display: none;
    text-align: left;
    padding: 2rem;
    background: linear-gradient(75deg, #8e44ad, #3498db);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event {
    display: flex;
    margin-bottom: 2rem;
}

.event img {
    max-width: 150px;
    margin-right: 1rem;
    border-radius: 10px;
}

.event-details {
    max-width: 600px;
}

.event-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.event-details p {
    margin: 0.2rem 0;
}
