/* profile.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    animation: gradientAnimation 10s ease infinite;
    color: white;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background: #3572EF;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

.container {
    padding-top: 70px;
    text-align: center;
    margin: 2rem;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(238, 92, 238);
}

.profile-card {
    background: blue;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 2rem auto;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.profile-card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: greenyellow;
}

.profile-card p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.profile-card p i {
    margin-right: 1rem;
    color: orangered;
}

.profile-card p span {
    color: rgb(238, 92, 238);
}
